# Common floating window types

for_window {
	#[window_type = "pop-up"] floating enable
	[window_role = "bubble"] floating enable
	[window_role = "dialog"] floating enable
	[window_type = "dialog"] floating enable
	[window_role = "task_dialog"] floating enable
	[window_type = "menu"] floating enable
	[app_id = "floating"] floating enable
	[app_id = "floating_update"] floating enable, resize set width 1000px height 600px
	[class = "(?i)pinentry"] floating enable
	[title = "Administrator privileges required"] floating enable
}

# Firefox
for_window {
	[title = "About Mozilla Firefox"] floating enable
	[title = "About LibreWolf"] floating enable
	[window_role = "About"] floating enable
	[app_id = "firefox" title = "Library"] floating enable, border pixel 1, sticky enable

	[title = "Firefox - Sharing Indicator"] kill
	[title = "Firefox — Sharing Indicator"] kill

	# Not sure what this is assuming librewolf has it
	[title = "LibreWolf - Sharing Indicator"] kill
	[title = "LibreWolf — Sharing Indicator"] kill
}

# Steam
for_window {
	[class = "^Steam$" title = "^Friends$"] floating enable
	[class = "^Steam$" title = "Steam - News"] floating enable
	[class = "^Steam$" title = ".* - Chat"] floating enable
	[class = "^Steam$" title = "^Settings$"] floating enable
	[class = "^Steam$" title = ".* - event started"] floating enable
	[class = "^Steam$" title = ".* CD key"] floating enable
	[class = "^Steam$" title = "^Steam - Self Updater$"] floating enable
	[class = "^Steam$" title = "^Screenshot Uploader$"] floating enable
	[class = "^Steam$" title = "^Steam Guard - Computer Authorization Required$"] floating enable
	[title = "^Steam Keyboard$"] floating enable
}

# Workspace lock
assign {
	[app_id = "^vesktop$"] 1
	[app_id = "^Alacritty$" title = "homeland"] 3
	[app_id = "^Alacritty$" title = "code"] 3
	[app_id = "^LibreWolf$"] 2
	[app_id = "firefox"] 2
	[class = "^steam$"] 4
	[app_id = "^org\.keepassxc\.KeePassXC$"] 10
}

for_window {
	[app_id = "^Alacritty$" title = "homeland"] layout tabbed
	[app_id = "^Alacritty$" title = "code"] layout tabbed
}
