Config(
	prefix: "@",
	engines: [Custom(
		name: "DuckDuckGo",
		url: "html.duckduckgo.com/html?q={}",
	)]
	// NOTE: `{}` is replaced by the search query and `https://` is automatically added in front.
)
